**/build/**
**/install/**
**/log/**

**/.vscode/**
**/__pycache__/**

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

*.o
*.a

# Test from others
test_se2d2.cpp